// Breakpoints
$medium-screen: 600px;
$large-screen: 900px;

// Typography
$base-font-family: $font-stack-system;
$heading-font-family: $base-font-family;

// Font Sizes
$base-font-size: 1em;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$blue: #1565c0;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;

$color-primary-0: #EF6489;	// Main Primary color */
$color-primary-1: #FBB7C9;
$color-primary-2: #F589A6;
$color-primary-3: #E84571;
$color-primary-4: #D32151;

$color-secondary-1-0: #FF996B;	// Main Secondary color (1) */
$color-secondary-1-1: #FFCFBA;
$color-secondary-1-2: #FFB28F;
$color-secondary-1-3: #FF844C;
$color-secondary-1-4: #E96225;

$color-secondary-2-0: #C854BE;	// Main Secondary color (2) */
$color-secondary-2-1: #F0AFEB;
$color-secondary-2-2: #DE7CD5;
$color-secondary-2-3: #B034A5;
$color-secondary-2-4: #9E1993;

// Font Colors
$base-font-color: $dark-gray;
$action-color: $color-primary-3;

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Background Colors
$base-background-color: $color-secondary-1-1;
$secondary-background-color: tint($base-background-color, 75%);

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

// Animations
$base-duration: 150ms;
$base-timing: ease;
