.stats
  %h3 General Info:
  %ul
    %li
      = front_page.number_of_users
      %span Number of Reddit Users
    %li
      = front_page.reddit_average
      %span
        Average score of 
        = front_page.current_subreddit
    %li
      = front_page.mal_average
      %span Average score of MAL