.anime_list {
  .rank {
    font-weight: bold;
    font-size: 1.1em;
  }

  .thumbnail {
    width: 81px;
  }

  table {
    table-layout: auto;
  }

  td, th {
    padding: $small-spacing;
  }

  tr:nth-child(2n) {
    background-color: $secondary-background-color;
  }

  tr:hover {
    background-color: darken($secondary-background-color, 10%);
  }
}