.pagination_controls {
  clear: left;
  padding: 1em 0;

  $pagination-border-color: $base-border-color;
  $pagination-border: 1px solid $pagination-border-color;
  $pagination-background: lighten($pagination-border-color, 10);
  $pagination-hover-background: lighten($pagination-background, 5);
  $pagination-color: $base-font-color;

  span a {
    background: $pagination-background;
    border-radius: $base-border-radius;
    border: $pagination-border;
    color: $pagination-color;
    outline: none;
    padding: ($base-spacing / 4) ($gutter / 2);
    text-decoration: none;
    transition: all 0.2s ease-in-out;

    &:hover,
    &:focus {
      background: $pagination-hover-background;
      color: $action-color;
    }

    &:active {
      background: $pagination-background;
    }
  }
}